Source: openapp-drupal
Section: database
Priority: extra
Maintainer: Mark Schouten <mark@tuxis.nl>
Build-Depends: debhelper
Standards-Version: 3.9.1
Homepage: http://www.openpanel.com/openapp/

Package: openapp-drupal
Architecture: any
Pre-Depends: openapp-backup, mysql-server, openapp-tuning
Depends: openpanel-openapp-mod-user, openpanel-openapp-mod-drupal, openpanel-openapp-mod-smtp, openpanel-openapp-mod-backup, php5-cli, openapp-drupal-installer, drush
Provides: openapp-app
Conflicts: openapp-app
Description: This will install your Drupal OpenApp Appliance!

Package: openapp-drupal-installer
Architecture: any
Pre-Depends: wget, apache2, libapache2-mod-php5, php5-mysql
Depends: php5-mysql, mysql-server
Provides: openapp-app-installer
Conflicts: openapp-app-installer
Description: This will install Drupal for your OpenApp Appliance!
